<%= render "inputs/mitosis_editor_input/dependencies" %>

<div class="mitosis-editor-wrapper" data-editor-options="<%= editor_options_json %>">
  <div id="mitosis-editor-<%= input_html_options[:id] %>" class="mitosis-editor-container"></div>
</div>

<script>
(function() {
  var container = document.getElementById('mitosis-editor-<%= input_html_options[:id] %>');
  var wrapper = container.closest('.mitosis-editor-wrapper');
  var options = JSON.parse(wrapper.dataset.editorOptions || '{}');
  var hiddenInput = document.getElementById('<%= input_html_options[:id] %>');

  options.container = container;
  options.content = hiddenInput ? hiddenInput.value : '';

  if (window.Prism) {
    options.prism = window.Prism;
  }

  if (window.MitosisEditor && window.MitosisEditor.createEditor) {
    var editor = window.MitosisEditor.createEditor(options);

    var form = container.closest('form');
    if (form) {
      form.addEventListener('submit', function() {
        if (hiddenInput && editor && editor.getMarkdown) {
          hiddenInput.value = editor.getMarkdown();
        }
      });
    }
  }
})();
</script>
