<div class="mitosis-editor-wrapper"
     data-height="<%= input_html_options[:data][:mit_height] %>"
     data-placeholder="<%= input_html_options[:data][:mit_placeholder] %>">
  <div id="mitosis-editor-<%= input_html_options[:id] %>" class="mitosis-editor-container"></div>
</div>

<script>
(function() {
  var container = document.getElementById('mitosis-editor-<%= input_html_options[:id] %>');
  var wrapper = container.closest('.mitosis-editor-wrapper');
  var height = wrapper.dataset.height || '500px';
  var placeholder = wrapper.dataset.placeholder || '';

  var hiddenInput = document.getElementById('<%= input_html_options[:id] %>');

  if (window.MitosisEditor) {
    var editor = window.MitosisEditor.createEditor({
      container: container,
      content: hiddenInput ? hiddenInput.value : '',
      height: height,
      placeholder: placeholder
    });

    var form = container.closest('form');
    if (form) {
      form.addEventListener('submit', function() {
        if (hiddenInput && editor && editor.getMarkdown) {
          hiddenInput.value = editor.getMarkdown();
        }
      });
    }
  }
})();
</script>
